{% extends "index.html" %} {% block blog_post %}

<section class="px-2 pt-5 text-white">

  <section class="flex flex-row">
      <h2>{{ blog_post.blog_heading }}</h2>
      <img src="{{ blog_post.heading_image.url }}" alt="Blog title image" />
  </section>

  <section class="flex">
      <h2>By {{ blog_post.blog_author }}</h2>
      <div>Published on {{ blog_post.creation_date }}</div>
      <div>| Chats ((insert comment number here))</div>
  </section>

  <section>{{ blog_post.blog_content|safe}}</section>
</section>

{% endblock %}