{% extends "index.html" %} 
{% block cosplay_hall_of_fame %}

<section class="mx-auto my-8 w-11/12 self-start text-purple-heart-300 md:w-8/12 lg:w-8/12">
<div class="rounded-lg border-4 border-solid border-purple-heart-500">
  <h1>Cosplay Hall of Fame</h1>
  <h2>View some of the fabulous cosplays from our community members!</h2>
</div>

{% if user.is_authenticated %}
  {% if user_submissions %}
<section class="my-4 flex flex-col gap-10">
  <h2 class="text-4xl font-bold text-purple-heart-500">Your pending submissions</h2>
  {% for cosplay_submission in user_submissions %}
<section class="bg-white rounded-xl {% if not cosplay_submission.approval_state %} pending-submission {% endif %}">
  <div class="relative flex gap-4 group md:gap-6 lg:gap-6">      
  {% if not cosplay_submission.approval_state %}
    <div class="block absolute w-full h-full bg-black bg-opacity-75 z-10 group-hover:hidden group-focus:hidden"></div>
    <div class="hidden absolute bottom-0 left-0 right-0 px-12 py-8 bg-black bg-opacity-80 z-10 group-hover:flex group-focus:flex justify-center gap-8">
      <button type="submit"
        class="flex-grow rounded-md border border-purple-600 bg-white px-3 py-1.5 text-sm font-semibold leading-6 text-purple-700 shadow-sm hover:bg-purple-heart-200 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-purple-heart-600">
        Edit submission
      </button>
      <button type="submit"
        class="flex-grow rounded-md border border-red-600 bg-white px-3 py-1.5 text-sm font-semibold leading-6 text-red-700 shadow-sm hover:bg-red-200 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600">
        Delete submission
      </button>
    </div>
  {% endif %}
    <img 
      class="w-6/12 object-cover min-h-96 rounded-tl-xl rounded-bl-xl" 
      src="{{ cosplay_submission.image.url }}" 
      alt="Cosplay submission image, content will vary" 
    />
    <div class="w-6/12 text-base leading-7 text-gray-700">
      <h1 class="mt-2 text-2xl md:text-3xl lg:text-3xl font-bold tracking-tight text-purple-heart-900 sm:text-4xl">
        {{ cosplay_submission.author }} cosplaying as {{ cosplay_submission.character }}
      </h1>
      <div>
        <p class="mt-6">{{ cosplay_submission.description|safe}}</p>
        <button>Edit</button>
        <button>Delete</button>
      </div>
    </div>
  </div>
</section>
       
  {% endfor %}
</section>
  {% endif %}
{% endif %}

{% if published_submissions %}
  <section class="mt-6 flex flex-col gap-10">
    <h2 class="text-4xl font-bold text-purple-heart-500">
      Cosplays from our fantastic community!
    </h2>
    {% for cosplay_submission in published_submissions %}
      <section class="bg-white rounded-xl">
        <div class="relative flex gap-4 group md:gap-6 lg:gap-6">
          <img class="w-6/12 object-cover min-h-96 rounded-tl-xl rounded-bl-xl" src="{{ cosplay_submission.image.url }}"
            alt="Cosplay submission image, content will vary" />
          <div class="w-6/12 text-base leading-7 text-gray-700">
            <h1 class="mt-2 text-2xl md:text-3xl lg:text-3xl font-bold tracking-tight text-purple-heart-900 sm:text-4xl">
              {{ cosplay_submission.author }} cosplaying as {{ cosplay_submission.character }}</h1>
            <div>
              <p class="mt-6">{{ cosplay_submission.description|safe}}</p>
              <button>Edit</button>
              <button>Delete</button>
            </div>
          </div>
        </div>
      </section>
    {% endfor %}
  </section>
{% endif %}

</section>
{% endblock %}
