{% extends "index.html" %} 
{% block cosplay_hall_of_fame %}
<section class="mx-4 p-24 px-2 pt-5 text-purple-heart-300 md:mx-12 lg:mx-96">

  {% for cosplay_submission in user_submissions %}
    <section class="flex flex-row border-2 border-solid border-purple-heart-500 
      {% if not cosplay_submission.approval_state %}opacity-50{% endif %}"> 
      <div>
        <h2 class="bg-gray-900 text-center text-2xl font-bold">
          {{ cosplay_submission.author }} cosplaying as {{ cosplay_submission.character }}
        </h2>
        <img 
          class="w-6/12" 
          src="{{ cosplay_submission.image.url }}" 
          alt="Cosplay submission image, content will vary" 
        />
        {{ cosplay_submission.description|safe}}
      </div>
    </section>
  {% endfor %}

</section>
{% endblock %}
