{% extends "index.html" %}
{% block cosplay_submissions %}

<!-- cosplay submission form -->

<div
  class="mx-auto my-8 grid grid-cols-3 gap-6 lg:pr-3 md:pr-3 grow-0 w-8/12 rounded-lg border-4 border-solid border-purple-heart-500 bg-purple-heart-50 shadow">
  <div class="relative h-full flex-1 hidden lg:block md:block md:col-span-1 lg:col-span-2">
    <div
      class="h-full w-full absolute top-0 left-0 right-0 bottom-0 flex justify-center items-center rounded-bl-sm rounded-tl-sm bg-black bg-opacity-80 text-white">
      <h2>Choose an image to preview it here!</h2>
    </div>
    <img class="preview-image hidden inset-0 h-full w-full rounded-bl-sm rounded-tl-sm object-cover z-10 relative"
      src=""
      alt="" />
  </div>

  <div class="flex flex-1 flex-col justify-center px-4 py-12 lg:flex-none col-span-3 lg:col-span-1 md:col-span-2">
    <div class="mx-auto w-full max-w-sm">
      <h2 class="mt-8 text-2xl font-bold leading-9 tracking-tight text-gray-900">
        Ready to submit your awesome cosplay?
      </h2>

      <div class="mt-10">
        <form enctype="multipart/form-data" method="POST" class="space-y-6 text-gray-900">
          {% csrf_token %}
          {% if edit_mode %}
          {% for field in form %}
          <div>
            <label class="block text-sm font-medium leading-6 text-gray-900" for="{{ field.name }}">{{ field.label }}</label>
            {{ field }}
          </div>
          {% endfor %}
          {% else %}
          {% for field in cosplay_submission_form %}
          <div>
            <label class="block text-sm font-medium leading-6 text-gray-900" for="{{ field.name }}">{{ field.label }}</label>
            {{ field }}
          </div>
          {% endfor %}
          {% endif %}
          

          <div>
            <button type="submit"
              class="flex w-full justify-center rounded-md bg-purple-heart-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-purple-heart-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-purple-heart-600">
              Submit!
            </button>
          </div>
        </form>
        <script>
          const fileInput = document.querySelector('input[type="file"]');
          const preview = document.querySelector('img.preview-image');

          fileInput.addEventListener('change', function () {
            const [file] = fileInput.files;
            if (file) {
              preview.src = URL.createObjectURL(file);
              preview.classList.remove('hidden');
            }
          });
        </script>
      </div>
    </div>
  </div>
</div>
{% endblock %}
