{% extends "index.html" %}
{% block cosplay_submissions %}

<!-- cosplay submission form -->

<section class="mx-auto my-8 w-11/12 self-start text-purple-heart-300 md:w-8/12 lg:w-8/12">
  <div>
    <h1 class="rounded-lg border-4 border-solid border-purple-heart-500 bg-purple-heart-50 text-center">Cosplay Submissions</h1>
      <form class="rounded-lg border-4 border-solid border-purple-heart-500 bg-purple-heart-50 text-center" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <button class="rounded-lg border-4 border-solid border-purple-heart-500">Submit</button>
      </form>
  </div>
  
</section>
{% endblock %}