{% load static tailwindcss %}

<!doctype html>
<html>
  <head>
    <title>GeekHaven Blog</title>
    {% tailwindcss %}
  </head>

  <body class="bg-black">
    <header class="flex flex-col items-center bg-purple-heart-300 px-2 pt-5">
      <h1 class="font-extrabold text-4xl py-1">GeekHaven Blog</h1>
      <h2 class="font-medium italic pb-2">Cosplay and Gaming adventures</h2>
      <div class="justify-center flex flex-row space-x-4 bg-purple-heart-50 w-screen">
        <nav class="">
          <a href="#" class="text-m font-semibold leading-6 text-gray-900"
            >Home</a
          >
          <a href="#" class="text-m font-semibold leading-6 text-gray-900"
            >Register</a
          >
          <a href="#" class="text-m font-semibold leading-6 text-gray-900"
            >About</a
          >
        </nav>
      </div>
    </header>

    <div class="mx-40 outline-1 pt-6">
      <ul
        role="list"
        class="grid grid-cols-1 gap-12 max-w-4xl text-gray-500 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3"
      >
        <li
          class="col-span-1 flex flex-col divide-y divide-gray-200 rounded-lg border-4 border-solid border-purple-heart-500 bg-purple-heart-50 text-center shadow"
        >
          <div class="flex flex-1 flex-col">
            <img
              class="max-h-48 max-w-full flex-shrink-0"
              src="https://images.unsplash.com/photo-1582053433976-25c00369fc93?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=512&q=80"
              alt=""
            />
            <h3 class="blog-title mt-6 text-sm font-medium text-gray-900">
              Crafting Cosplay: A Rainy Evening with Bo Katan's Chest Armor
            </h3>
            <dl class="mt-1 flex flex-grow flex-col justify-between">
              <dt class="sr-only">Title</dt>
              <dd class="text-sm">
                As the rain pattered against my window and the chill of the
                evening settled in, I embarked on a journey of...
              </dd>
              <dt class="sr-only">Role</dt>
              <dd class="mt-3">
                <button
                  class="inline-flex items-center rounded-full bg-purple-heart-400 px-2 py-1 text-sm font-medium text-black ring-1 ring-inset ring-purple-heart-800"
                >
                  Read more
                </button>
              </dd>
            </dl>
          </div>
        </li>
      </ul>
    </div>

    <footer>
      <div></div>
    </footer>
  </body>
</html>
