{% load static tailwindcss %} {% url 'homepage' as homepage_url %} 
{% url 'login' as login_url %} {% url 'register' as register_url %} 
{% url 'logout' as logout_url %}

<!doctype html>
<html>
  <head>
    <title>GeekHaven Blog - Cosplay and Gaming community</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% tailwindcss %}
  </head>

  <body class="flex min-h-screen flex-col justify-between bg-black">
    <!-- Heading banner, title and subtitle -->
    <header class="flex flex-col items-center bg-purple-heart-300 px-2 pt-5">
      <div class="flex flex-row">
        <img
          class="max-h-14 px-2"
          src="{% static 'media/images/GeekHaven-logo-invis-bkg.png' %}"
          alt="A black line drawing of a retro gameboy"
        />
        <h1 class="py-1 text-4xl font-extrabold">GeekHaven Blog</h1>
      </div>
      <h2 class="pb-2 font-medium italic">Cosplay and Gaming adventures</h2>

      <!-- Nav bar -->
      <div
        class="flex w-screen flex-row items-center justify-center space-x-4 bg-purple-heart-50"
      >
        <nav class="text-m mx-4 font-semibold leading-6 text-gray-900">
          <a
            class="first-line:text-m {% if request.path == homepage_url %}active{% endif %} mx-4 font-semibold leading-6 text-gray-900"
            href="{% url 'homepage' %}"
            >Home</a
          >
          <!-- Once user is logged in, logout option will show on navbar -->
          {% if user.is_authenticated %}
          <a
            class="{% if request.path == logout_url %}active{% endif %}"
            href="{% url 'logout' %}"
            >Logout</a
          >
          {% else %}
          <a
            class="text-m {% if request.path == register_url %}active{% endif %} mx-4 font-semibold leading-6 text-gray-900"
            href="{% url 'register' %}"
            >Register</a
          >
          <a
            href="{% url 'login' %}"
            class="{% if request.path == login_url %}active{% endif %}"
            >Login</a
          >
          {% endif %}
        </nav>
        <!-- Search bar -->
        <div for="search" class="m-1 flex">
          <form method="get" action="" class="flex">
            {% csrf_token %}
            <!-- search_query connects to the get_queryset fn in views.py -->
            <input
              class="w-36 rounded-lg p-1"
              id="search"
              type="text"
              placeholder="Search..."
              name="search_query"
            />
            <button type="submit">🔎</button>
          </form>
        </div>
      </div>
    </header>

    <main class="block min-w-full grow">
      {% block blogpost_list %} {% endblock %} {% block blog_post %} {% endblock %} {% block register_user %} {% endblock %} {% block login %} {% endblock %}
    </main>

    <footer class="h-32 bg-gray-500 p-4 text-center text-white">
      <section class="flex gap-8">
        <div>
          <h2>About Geekhaven</h2>
          <hr />
          <p>
            Geekhaven Blog is a study-based project where I have created a
            personal blog for my cosplay and gaming adventures.
          </p>
        </div>
        <div>
          <h2>Disclaimer</h2>
          <hr />
          <p>
            All written content from this is lovingly generated by ChatGPT. My
            focus is on the code so the text content is what it is.
          </p>
        </div>
      </section>
    </footer>
  </body>
</html>
